.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.menuLateral {
  display: flex;
  flex-direction: column;
}
.seccionPrincipal {
  display: flex;
}
@media (min-width: 640px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
  }

  .menuLateral {
    justify-content: space-between;

    flex-direction: row;
    order: 1;
  }
}
@media (min-width:1000px){
    .container{
        background-color: red;
    }
}